body {
    background-color: #fab4b4;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
}

section {
    margin: 1rem;
}

.content-wrapper {
    padding-bottom: 2.5rem;
}
